<%- if user_signed_in? %>
  <%= link_to 'Add a new movie', new_movie_path %>
<%- end %>

<div class="movies">
  <%- @movies.each do |movie| %>
    <br />
    <br />
    <%= link_to(movie) do %>
      <%= movie.title %>
      <%= "(#{movie.year})" %>
    <% end %>

    <%= render 'likes/button', movie: movie, user: current_user, like: movie.likes.new %>

    <%= "#{pluralize(movie.likes.count, 'like')}" %>

  <% end %>
</div>

<%= render 'shared/recently_added_movies' %>
<%= render 'shared/recently_viewed_movies' %>
