<%- if user_signed_in? %>
  <%= link_to 'Add a new movie', new_movie_path %>
<%- end %>

<div class="movies">
  <%- @movies.each do |movie| %>
    <br />
    <br />
    <%= link_to(movie) do %>
      <%= movie.title %>
      <%= "(#{movie.year})" %>
    <% end %>
  <% end %>
</div>

<%= render 'shared/recently_viewed_movies' %>
