<%= link_to 'Add a new movie', new_movie_path %>

<div class="movies">
  <%- @movies.each do |movie| %>
    <br />
    <br />
    <%= link_to(movie) do %>
      <%= movie.title %>
      <%= "(#{movie.year})" %>
    <% end %>
  <% end %>
</div>
<%- if user_signed_in? -%>
  <ul class="recently-viewed">
    <%- Viewing.recent_movies(current_user).each do |viewing| -%>
    <%- movie = viewing.viewable -%>
      <li>
        <%= link_to(movie) do %>
          <%= movie.title %>
          <%= "(#{movie.year})" %>
        <% end %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

