<h1>
  <%= @movie.title %>
</h1>

<p>
  <%= @movie.year %>
</p>

  <%= render 'reviews/form' %>

<p>
  <% @movie.reviews.each do |review| %>
    <p>
    <%= review.body %>
    <%= review.rating %>
    </p>
  <% end %>
</p>