<h1>
  <%= @movie.title %>
</h1>

<p>
  <%= @movie.year %>
</p>

<%= render 'likes/button', movie: @movie, like: @like %>

<%= "#{pluralize(@movie.likes.count, 'like')}" %>

<%= render 'reviews/form' %>

<p>
  <% @movie.reviews.each do |review| %>
    <p>
    <%= review.body %>
    <%= review.rating %>
    </p>
  <% end %>
</p>

<%= render 'shared/recently_added_movies' %>
