<!DOCTYPE html>
<html>
<head>
  <title>Betacritiq</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>

<%= yield %>

<div class='debug'>
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>